.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}
.pagination{
    visibility: visible;
}
button{
  outline: none;
}
.cancel{
  padding-left: 5px;
  padding-right: 5px;
}
select{
  outline: none;
}
.modal-backdrop.in{
  z-index: -1;
}
button.close {
  z-index: 9999;
  padding-right: 10px;
  top: 0;
  right: 0;
}

input[type=file]{
  display:inline;
}
.ui-helper-hidden-accessible{
  display: none;
}
.radio label{
  padding-left: 50px;
}