.gradiantleft{
	background: #ffb140; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffb140 0%, #ff5445 26%, #fc2b82 60%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffb140 0%, #ff5445 26%, #fc2b82 60%); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(left, #ffb140 0%, #ff5445 26%, #fc2b82 60%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffb140 0%, #ff5445 26%, #fc2b82 60%);/* Standard syntax (must be last) */
}

.gradiantdown{
	/*background: #ffb140; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(360deg, #ffb140 0%, #ff5445 26%, #fc2b82 60%); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(360deg, #ffb140 0%, #ff5445 26%, #fc2b82 60%); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(360deg, #ffb140 0%, #ff5445 26%, #fc2b82 60%); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient( 360deg, #ffb140 0%, #ff5445 26%, #fc2b82 60%); /* Standard syntax (must be last) */
    position: absolute;
top: 62px;

width: 70px;
border-radius: 3px;
background-image: linear-gradient(#ed2e8a 0%, #ff8b42 100%);
}
#ulMenu{
	padding-left: 18px;
	 width: 50px; 
}


.dropdown-menu {
  min-width: 0px;
}

.lispace{
	padding-top: 5px;
	padding-bottom: 10px;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid green;

}

#ulMenu:before {
   content:"";
   position: relative;
   display: block;
   
   width: 0;
   height: 0;
   right: 10px;
   top: -15px;
   border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
  border-bottom: 15px solid #ed2e8a;

}

.btn-primary{
    background-color: #d23396;
    font-family: Tahoma;
font-size: 16px;
color: #ffffff;
text-align: center;
border-width: 0px;
}

.btn-primary:hover{
    background-color: #70184f;    
}

.white{
  color: white;
}
.white:hover{
  color: white;
}
.pink{
	color: #d23396;
}
.pink:hover{
	color: #d23396;
}
body{
	background-color: #ececec;
}
.transparent{
  background-color:transparent;
}
