.postInput input{
	background-color: transparent;
	border-style: none;
	box-shadow: none;
	height: 72px;
	border-radius: 0px;
	//width: 720px;
	
}
.postInput{
	position: relative;
	
	padding: 0px;

}
.postInput input:focus{
	background-color: transparent;
	border-style: none;
	box-shadow: none;

}


/**************************************/
/* Upload Type file                   */
/**************************************/
input[type=file]{display:none;}
 
img.addButton{
	//position: absolute;
	//left: 115px; 
	//top: 10px;
}

.panel-group {
	border-radius: 0px;
}

.bgwhite input{
  background-color: white;
}
.bgwhite input:focus{
  background-color: white;
}

#profileBar{
    background-color:#34495e; 
    height:50px;
    padding-left:0;
    padding-right:0;
    color: #ffffff;   
    font-family: proxima-nova, sans-serif; 
    font-size: 14px;
    border-radius: 3px 10px 0px 0px;
}

.divImgProfileBar{
    background-color:#253648; 
    height:50px; 
    padding-right:0; 
    padding-top:15px; 
    width:50px;
}

#description.form-control{
    
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    color: #6b6b6b;
    text-align: left;
    line-height: 24px;

}
#btnPost{
	width: 99px;
    float:left;
    background-color: #ff6262;
    border-radius: 18px;
}

@media (max-width: 40em) {
.iii {
visibility:hidden;
}
}

body{
	min-width: 300px;
}

#divAddPost{
	color: white;
	
}

.postImage{
	padding: 0;
}

/**************************************/
/* 	Image Resizing                   */
/**************************************/
.container {
}
.container img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.container img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}​
.object-fit_fill { object-fit: cover; }

.postImage img[class]  { 
  width: 100%;
}

.img-responsive {
    width: auto;
    height: 216px;
}

/**************************************/
/* 	Image Modal                       */
/**************************************/

.myImg {
    
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 100%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
   
    
}

#dialog{
    border-width: 5px;
    border-style: solid;
    border-color: #f32c86;
    padding: 0;  
}
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close{
    background-color: #f32c86;
    
    border: 0 none;
    position: absolute;
    z-index: 9999;
    color: white;
    font-weight: 900;
    left: 578px;
    top: 25px;
    float:right;
}


/*.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close:after{
      background-image: url('/icons/close_button.svg');
       background: no-repeat;
}
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {display: none }
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
     background-image: url('/icons/close_button.svg');
     z-index: 99999;
     }*/

#recommendedPeopleHeading{
    font-family: Tahoma;
    font-size: 18px;
    color: #f02d88;
    text-align: left;
    line-height: 24px;
}

.postsUserName{
    font-family: Tahoma;
    font-size: 18px;
    color: #ff8842;
    text-align: left;
    line-height: 24px;
}
.postsUserName:hover{
    color: #ed5a04;    
    text-decoration: none;
    cursor: pointer;
}
.postFooter{
    font-family: Tahoma;
    font-size: 14px;
    color: rgba(35, 35, 35, 1);
    text-align: left;
}

.selectedSideBar{
    background-color: #ff9f41;
    border-radius:0;
    color: #ffffff;
}
.sideBar a{
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #6f6f6f;
    text-align: left;
    line-height: 20px;
    text-decoration: none;
}

.sideBar a :hover{
    font-size: 17px;
    color: #ff9f41;
}

.boxShadow {  
     box-shadow: 0 0 10px rgba(0,0,0,0.6); 
     -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
     -o-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
}

.pagination{
    visibility: hidden;
}

.liked, .like{
    cursor: pointer;
}

#inputSearch{
    margin-top: 10px;
    height: 32px;
    width: 240px;
    background-color: #ffffff;
    border-radius: 16px;
    background: url(/icons/search.svg) no-repeat scroll 7px 7px;
    background-color: #ffffff;
    padding-left:30px;

    font-family: Tahoma;
    font-size: 14px;
    color: #f02d88;
    text-align: left;
    float: right;
}

.laravelInfo{
    visibility: hidden;
}





   
    


    .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
   
}

/*.dropdown:hover */.dropdown-content {
    display: block;
}
.caret{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid ;
}

#spanProfileName{
    font-family: ProximaNova-Regular;
    font-size: 23px;
    color: #5b5b5b;
    text-align: center;
}
#spanProfileLocation{
    font-family: ProximaNova-Regular;
    font-size: 14px;
    color: #7e7e7e;
    text-align: left;
    line-height: 24px;

}

.btnFollow{
    height: 50px;       
    border-radius: 25px;
    border-color: transparent;
}

.btnFollow span{
    height: 48px;
    width: 82px;
    font-family: ProximaNova-Regular;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
}
#btnFollowMe{
    background-color: #fe4261;
}

#btnFollowMe:hover{
    background-color: #a02b3e;
}

#btnFollowing{
    background-color: green;
}

#btnFollowing:hover{
    background-color: darkgreen;
}

.spanFollow{
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #777777;
    text-align: left;
    line-height: 24px;
}

.pinkHeading{
    font-family: ProximaNova-Regular;
    font-size: 18px;
    color: #f02d88;
    text-align: left;
    line-height: 24px;
}

.pointer{
    cursor: pointer;
}
.noMargin{
    margin: 0;
}
.inputFieldsSettings {
    border: 0;
    background: white;
    font-family: ProximaNova-Regular;
    font-weight: 100;
    font-size: 16px;
    color: #232323;
    text-align: left;
    line-height: 60px;
    margin-top: 15px;
    height: 30px;

}

.inputFieldsSettings:focus{
    background: white;
}
.inputFieldsSettings:enabled{
    background: lightgrey;
}
#lblUsername{
    margin: 0;
    background: white;
}
.labelSettings{
    font-family: ProximaNova-Regular;
    font-weight: 100;
    font-size: 16px;
    color: #232323;
    text-align: left;
    line-height: 60px;

}
@-moz-document url-prefix() {
    #spanPostTime {margin-right:3px; }
}

@media screen and (max-width: 442px) {
    .spanDeleteElement {
        display: none !important;
    }
    #dialog{
       width: 50%;
    }
}

@media screen and (min-width: 994px) and (max-width: 1199px) {
    #spanTodayText {
        display: none !important;
    }
    #divNewClock{
        padding-left: 25px;
    }
}