.postInput input{
	background-color: transparent;
	border-style: none;
	box-shadow: none;
	height: 72px;
	border-radius: 0px;
	//width: 720px;
	
}
.postInput{
	position: relative;
	
	padding: 0px;

}
.postInput input:focus{
	background-color: transparent;
	border-style: none;
	box-shadow: none;

}

#btnPost{
	position: absolute;
	right: 21px;
	top: 20px;
	height: 35px;
	width: 99px;
	background-color: #ff6262;
	border-radius: 18px;
}
/**************************************/
/* Upload Type file                   */
/**************************************/
input[type=file]{display:none;}
 
img.addButton{
	//position: absolute;
	//left: 115px; 
	//top: 10px;
}

.panel-group {
	border-radius: 0px;
}

.bgwhite input{
  background-color: white;
}
.bgwhite input:focus{
  background-color: white;
}

#profileFormBar{
	height: 50px;
	//width: 396px;
	background-color: #34495e;
	border-radius: 3px 10px 0px 0px;
	padding: 0;
	position: relative;
}

.profileFormBarIcons{
	//text-align: center;
	//align-items: center;
	//align-content: center;
	//position: absolute;
	height: 50px;
	width: 53px;
	background-color: #253648;
}

#iconImage img{
	padding-top: 10px;
	right: 10px;
}

#lImage{
	background-image: url('/icons/camera.svg');
	background-repeat: no-repeat;
	margin-top: 15px;
}
#lStatus{
	background-image: url('/icons/status.svg');
	background-repeat: no-repeat;
	margin-top: 15px;
}
#lClock{
	background-image: url('/icons/clock_post.svg');
	background-repeat: no-repeat;
	margin-top: 15px;
}


@media (max-width: 40em) {
.iii {
visibility:hidden;
}
}

body{
	min-width: 300px;
}

#divAddPost{
	color: white;
	
}

.postImage{
	padding: 0;
}

/**************************************/
/* 	Image Resizing                   */
/**************************************/
.container {
}
.container img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.container img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}​
.object-fit_fill { object-fit: cover; }

.postImage img[class]  { 
  width: 100%;
}

.img-responsive {
    width: auto;
    height: 216px;
}

/**************************************/
/* 	Image Modal                       */
/**************************************/

.myImg {
    
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 100%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#recommendedPeopleHeading{
    font-family: Tahoma;
    font-size: 18px;
    color: #f02d88;
    text-align: left;
    line-height: 24px;
}

.postsUserName{
    font-family: Tahoma;
    font-size: 18px;
    color: #ff8842;
    text-align: left;
    line-height: 24px;
}

.postFooter{
    font-family: Tahoma;
    font-size: 14px;
    color: #232323;
    text-align: left;
}

.selectedSideBar{
    background-color: #ff9f41;
    border-radius:0;
}
.sideBar{
    font-family: ProximaNova-Regular;
font-size: 16px;
color: #6f6f6f;
text-align: left;
line-height: 20px;

}

.boxShadow {  
     box-shadow: 0 0 10px rgba(0,0,0,0.6); 
     -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
     -o-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
}

.pagination{
    visibility: hidden;
}